backups/
crash-reports/
debug/
downloads/
dyanmic-data-pack-cache/
dynamic-resource-pack-cache/
logs/
moonlight-global-datapacks/
resourcepacks/
saves/
screenshots/
shaderpacks/
.curseclient
command_history.txt
emi.json
enchiridion_resource_pack_cache.json
minecraftinstance.json
options.txt
user-prefs.json
usercache.json
usernamecache.json