downloads/
logs/
saves/
screenshots/
crash-reports/
.curseclient
usercache.json
usernamecache.json
config/oculus.properties
options.txt
servers.dat
.qmenu_opened.marker
shaderpacks/
brb.pins
inventoryprofilesnext/*
!inventoryprofilesnext/inventoryprofiles.json
inventoryprofilesnext/