downloads/
logs/
saves/
screenshots/
crash-reports/
.curseclient
usercache.json
usernamecache.json
config/oculus.properties
options.txt
servers.dat
.qmenu_opened.marker
shaderpacks/ComplementaryReimagined_r5.1.1.zip.txt
brb.pins
